Source: gromit
Section: x11
Priority: optional
Maintainer: Pierre Chifflier <chifflier@cpe.fr>
Uploaders: Barak A. Pearlmutter <bap@debian.org>
Build-Depends: debhelper (>= 8), libgtk2.0-dev
Standards-Version: 3.9.1
Vcs-Git: git://git.debian.org/git/collab-maint/gromit.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/gromit.git

Package: gromit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GTK based tool to make annotations on screen
 Gromit enables you to make annotations on your screen.
 .
 This is especially useful when making presentations, to highlight
 things or point out things of interest.
 .
 Gromit is XInput-Aware, so if you have a graphic tablet you can
 draw lines with different strength, color, erase things, etc.
