[Desktop Entry]
Type=Application
Name=gromit
GenericName=gromit
Comment=draw freehand screen annotations
Icon=gromit
Exec=gromit
Terminal=false
Categories=GTK;Office;Graphics;
